* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
  }
  
body { 
    max-width: 1440px;
    margin-top: -16px;
    margin: 0 auto;
    background-color: rgb(233, 230, 230);
}
h1{
    font-size: 40px;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
    padding: 2px 1000px 30px 50px;
}

.header {
    display: flex;
    max-width: 1440px;
    flex-shrink: 1;
    margin: 0 auto;
    justify-content: end;
    background-color: rgb(114, 179, 157);
    box-shadow: 0 0 7px #666;
}
.main {
    display: flex;
    margin-top: 50px;
}

.footer {
    height:110px;
    margin: auto;
    background-color: rgb(114, 179, 157);
    box-shadow: 0 0 7px #666;
}
.nav{
    display: flex;
    min-height: 50px;
    max-width: 1440px;
}
.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding-right: 6px;
    
    
}
.nav-item {
    margin: 3px;
    padding: 7px 5px 5px 6px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link{
    text-decoration: none;
    flex-wrap: wrap;
    color: black;
}
.section-profile{
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    flex-shrink: 1;
    padding: 10px 40px 5px 6px;
}
.section-profile-logo {
    display: flex;
    height: 210px;
    width: 210px;
    border-radius: 105px;
    border: 5px solid rgba(255, 255, 255, 0);
    box-shadow: 0 0 7px #666;
    order: 2;
    margin: 45px 0px 80px 40px;
    flex-shrink: 0;
}
.section-profile-logo img{
    height: 200px;
    border-radius: 100px;
}
.section-profile-title {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    max-width: 1100px;
    width: 100%;
    flex-shrink: 1;
    transition: flex-shrink 0.5s ease-in-out;
}
.section-line {
    width: 100%;
}
.section-title {
    margin: 10px 0 30px 20px
}
.section-subtitle {
    margin: 30px 70px 50px 50px;
}
.about-me p {
    font-size: 14px;
}
.rsschool-logo{
    height: 70px;
    float: right;
    margin: 12px 30px 12px 12px;
    padding-top: 7px;
}

.github-link-conteiner{
    padding-left: 20px;
}
.github-logo{
    height: 80px;
    padding-top: 15px;
}
.home{
    display: none;
}